body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

form {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 300px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bolder;
}

input[type="text"] {
    width: calc(100% - 100px); /* Adjust width considering padding and border */
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #99cae7;
    border-radius: 4px;
    box-sizing: border-box; /* Ensures padding is included in the width */
}

input[type="radio"] {
    margin-right: 5px;
}

.radio-group {
    margin-bottom: 12px;
}

.radio-group label {
    margin-right: 10px;
    font-weight: normal;
}

input[type="submit"] {
    background-color: #4ff7bf;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}